
:root{
    --info-bg-color: rgba(166, 209, 255, 1);
}

.content-container {
    background-color: white;
    text-align: right;
    width: 80vw;
    border-radius: 20px;
    padding: 20px;
}
.open-register-button {
    background-color: #3292ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.open-register-button:hover {
    background-color: #327dff;
}

.delete-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.delete-button:hover {
    background-color: #d32f2f;
}

.delete-button:disabled {
    background-color: rgba(244, 67, 54, 0.3);
}

/* 모달 창 스타일 */
.register-modal,
.info-modal {
    display: none; /* 초기에는 숨김 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}
.register-modal-content,
.info-modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 70%;
    height: 80%;
    text-align: center;
    position: relative;
}
.register-modal-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.register-modal-body,
.info-modal-body {
    margin-top: 30px;
}
.register-modal-body label,
.info-modal-body label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}
.register-modal-body input,
.register-modal-body textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.register-modal-footer,
.info-modal-footer{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.register-close-btn,
.register-submit-btn,
.info-close-btn,
.info-submit-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}
.register-close-btn,
.info-close-btn {
    background-color: #f44336;
    color: white;
}
.register-close-btn:hover,
.info-close-btn:hover {
    background-color: #d32f2f;
}
.register-submit-btn,
.info-submit-btn {
    background-color: #3292ff;
    color: white;
}
.register-submit-btn:hover,
.info-submit-btn:hover {
    background-color: #327dff;
}

.error-modal {
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.error-modal-content {
    background-color: #ffdddd;
    margin: 20% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
}
.error-modal-content h3 {
    margin: 0 0 10px;
    color: #d32f2f;
}
.error-modal-content p {
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 16px;
    color: black;
}
.error-modal-content .error-close-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #d32f2f;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.error-modal-content .error-close-btn:hover {
    background-color: #b71c1c;
}
.notice-modal {
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.notice-modal-content {
    background-color: var(--info-bg-color);
    margin: 20% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
}
.notice-modal-content h3 {
    margin: 0 0 10px;
    color: var(--info-bg-color);
}
.notice-modal-content p {
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 20px;
    color: white;
}
.notice-modal-content .notice-close-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--info-bg-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.customer-name {
    text-align: left;
    font-weight: bold;
    font-size: medium;
    width: 18%
}
.customer-information {
    text-align: left;
    font-size: medium;
    width: 80%;
}
.customer-information > div * {
    text-align: left;
}

table.dataTable.display > tbody > tr.selected * {
    color: #ffffff;
}

.ri--ball-pen-fill {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m17.85 11.805l-.708-.707l-9.9 9.9H3v-4.243L14.314 5.44l5.657 5.657a1 1 0 0 1 0 1.414L12.9 19.583l-1.415-1.414zm.706-9.192l2.829 2.828a1 1 0 0 1 0 1.414L19.97 8.27l-4.243-4.242l1.414-1.414a1 1 0 0 1 1.414 0'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}