<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SeoDash Free Bootstrap Admin Template by Adminmart</title>
  <link rel="shortcut icon" type="image/png" href="/images/logos/seodashlogo.png" />
  <link rel="stylesheet" href="/css/styles.min.css" />

  <script>
    function validateForm() {
      const password = document.getElementById("password").value;
      const confirmPassword = document.getElementById("confirmPassword").value;

      if (password !== confirmPassword) {
        alert("패스워드가 일치하지 않습니다.");
        return false; // 폼 제출 중단
      }
      return true; // 폼 제출 진행
    }
  </script>
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <div
          class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3">
          <div class="card mb-0">
            <div class="card-body">

              <p class="fs-4 mb-0 fw-bold" align="center">OSANG JAIEL - DASHBOARD</p>
              <p class="text-center">Your Social Campaigns</p>

                <form action="/register" method="post">
                <div class="form-group">
                  <label for="userid" class="form-label">아이디</label>
                  <input type="text" class="form-control" id="userid" aria-describedby="textHelp" name="userid" required>
                </div>
                <div class="form-group">
                  <label for="password" class="form-label">비밀번호</label>
                  <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                  <label for="confirmPassword" class="form-label">비밀번호 확인</label>
                  <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                  <span id="passwordError" class="error"></span>
                </div>
                <div class="form-group">
                  <label for="email" class="form-label">이메일</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>
                </div>
                <div class="form-group">
                  <label for="username" class="form-label">이름</label>
                  <input type="text" class="form-control" id="username" name="username" aria-describedby="textHelp" required>
                </div>
                <div class="form-group">
                  <label for="dep_id" class="form-label">부서</label>
                  <input type="text" class="form-control" id="dep_id" name="dep_id" aria-describedby="textHelp" required>
                </div>
                <div class="form-group">
                  <label for="phone_num" class="form-label">핸드폰</label>
                  <input type="text" class="form-control" id="phone_num" name="phone_num" aria-describedby="textHelp">
                </div>
                <div class="form-group">
                  <label for="internal_num" class="form-label">내선번호</label>
                  <input type="text" class="form-control" id="internal_num" name="internal_num" aria-describedby="textHelp">
                </div>

                <div class="form-group">
                  <input type="submit" value="Sign Up"  class="btn btn-primary w-100 py-8 fs-4 mb-4">
                </div>

                <div class="d-flex align-items-center justify-content-center">
                  <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                  <a class="text-primary fw-bold ms-2" href="./authentication-login.html">Sign In</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="/js/password-validation.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>

</html>-->