<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="shortcut icon" type="image/png" href="/images/logos/osangjaiellogo.png"/>
    <link rel="stylesheet" href="/libs/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="/css/styles.min.css"/>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar" include-html="/templates/left-panel.html"></aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <header class="app-header" include-html="/templates/top-bar.html"></header>
        <!--  Header End -->

        <!-- Content Start -->
        <div class="container-fluid">
            <div class="content-container">
                <button class="open-register-button" id="openRegisterButton"><b>+</b> New</button>
                <button class="delete-button" id="deleteButton" disabled><b>-</b> Delete</button>
                <table id="customerTable" class="customer-table display table-row-bordered gy-5" style="width:100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>고객사 명</th>
                        <th>정보</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- Content End -->

        <!-- 등록 모달 창 Start -->
        <div class="register-modal" id="registerModal">
            <div class="register-modal-content">
                <div class="register-modal-header">고객사 등록</div>
                <div class="register-modal-body">
                    <form id="register-modal-form">
                        <label for="register-name">고객사</label>
                        <input type="text" id="register-name" name="register-name" required />

                        <label for="register-editor">고객사 정보</label>
                        <div id="register-editor" class="toast-editor"></div>
                    </form>
                </div>
                <div class="register-modal-footer">
                    <button class="register-submit-btn" id="registerCustomer">등록</button>
                    <button class="register-close-btn" id="closeRegisterModal">취소</button>
                </div>
            </div>
        </div>
        <!-- 등록 모달 창 End -->

        <!-- 고객사 정보 모달 창 Start -->
        <div class="info-modal" id="infoModal">
            <div class="info-modal-content">
                <div class="info-modal-body">
                    <form id="info-modal-form">
                        <label for="customer-name">고객사</label>
                        <input type="text" id="customer-name" name="customer-name" readonly="readonly" />

                        <label for="info-editor">고객사 정보</label>
                        <div id="info-editor" class="toast-editor"></div>
                    </form>
                </div>
                <div class="info-modal-footer">
                    <button class="info-submit-btn" id="modifiyCustomer">수정</button>
                    <button class="info-submit-btn" id="applyCustomer" style="display: none">적용</button>
                    <button class="info-close-btn" id="closeInfoModal">닫기</button>
                </div>
            </div>
        </div>
        <!-- 고객사 정보  모달 창 End -->

        <!-- 알림 팝업 Start -->
        <div class="notice-modal" id="noticeModal">
            <div class="notice-modal-content">
                <p class="notice-message" id="noticeMessage"></p>
                <button class="notice-close-btn" id="closeNoticeBtn">확인</button>
            </div>
        </div>
        <!-- 알림 팝업 End -->

        <!-- 오류 팝업 Start -->
        <div class="error-modal" id="errorModal">
            <div class="error-modal-content">
                <p class="error-message" id="errorMessage">알 수 없는 오류가 발생했습니다.</p>
                <button class="error-close-btn" id="closeErrorBtn">닫기</button>
            </div>
        </div>
        <!-- 오류 팝업 End -->

    </div>
</div>


<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/libs/simplebar/dist/simplebar.js"></script>
<script src="/js/app.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<!--  toastui  -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
<!--  datatables  -->
<link href="/css/datatables/datatables.css" rel="stylesheet">
<script src="/js/datatables/datatables.js"></script>
<!--  typeahead  -->
<script src="/js/typeahead/typeahead.bundle.min.js"></script>
<!--  Custom Style  -->
<link rel="stylesheet" href="/css/customer.css"/>
<!--<link rel="stylesheet" href="/css/typeahead.css"/>-->
<!-- custom js -->
<script src="/js/basic-menu.js"></script>
<script src="/js/customer.js"></script>
<script src="/js/toastui-editor.js"></script>

<script>
    includeBasicPanel();
</script>
</body>

</html>